*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    background: linear-gradient(to bottom, #1a6c7e, #000000)
}

