*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
    background: linear-gradient(to bottom, #3ae267, #000000)
}
=======
>>>>>>> 70c4eda464275f514a5d0062f0a7d10438b33983
    background: #171717;
}

>>>>>>> 7bc27af7fc77c642dbebbd263eaf5504810268c8
nav{
    width: 80%;
    position: sticky;
    margin:20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

nav h1{
    flex: 1;
    text-align: left;
    color: white;
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.choose-action{
    flex: 1;
    text-align: center;
    color: #ffffff;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD

>>>>>>> 7bc27af7fc77c642dbebbd263eaf5504810268c8
.spot-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1DB954; /* Spotify green */
    text-decoration: none;
    border-radius: 50px; /* Rounded corners */
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
.spot-button:hover{
    background-color: #1ed760;
}
<<<<<<< HEAD
}
=======
=======
>>>>>>> d70d9f1ab99b1ce2829602a63fc47ce899d4dc30
>>>>>>> 63eb8d0632e1daa6506ed2b267629a20fe0b7b36
>>>>>>> 70c4eda464275f514a5d0062f0a7d10438b33983
>>>>>>> 7bc27af7fc77c642dbebbd263eaf5504810268c8
