*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    background: linear-gradient(to bottom, #000000, #414141)
}

nav{
    width: 80%;
    position: sticky;
    margin:20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

nav h1{
    flex: 1;
    text-align: left;
    color: white;
    text-decoration: none;
}

.header-link{
    text-decoration: none;
    color: inherit;
}

.header-link:visited{
    color: inherit;
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.choose-action{
    flex: 1;
    text-align: center;
    color: #ffffff;
}

.spot-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1DB954; /* Spotify green */
    text-decoration: none;
    border-radius: 50px; /* Rounded corners */
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.spot-button:hover{
    background-color: #1ed760;
}

.create-playlist {
    background-color: #282828; /* Slightly lighter dark background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    width: 100%;
    margin: auto;
    max-width: 400px; /* Limit the width */
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.create-playlist h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.create-playlist label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ffffff;
}

.create-playlist input[type="text"],
.create-playlist textarea {
    width: 100%;
    max-width: 350px; /* Limit the width */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: #ffffff;
    box-sizing: border-box;
}

.switch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px; /* Limit the width */
}

.switch input[type="checkbox"] {
    display: none;
}

.switch-label {
    margin-left: 10px;
    position: relative;
}

.switch input[type="checkbox"] + .switch-label::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s ease;
}

.switch input[type="checkbox"] + .switch-label::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0px;
    transition: transform 0.3s ease;
}

.switch input[type="checkbox"]:checked + .switch-label::before {
    background-color: #1DB954; /* Spotify green */
}

.switch input[type="checkbox"]:checked + .switch-label::after {
    transform: translateX(20px);
}

.create-playlist button {
    width: 100%;
    max-width: 350px; /* Limit the width */
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1DB954; /* Spotify green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.create-playlist button:hover {
    background-color: #1ed760; /* Slightly lighter green on hover */
}

.song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.option-buttons {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.like-button, .dislike-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    position: relative;
}

.like-button {
    background-color: #1DB954;
}

.dislike-button {
    background-color: rgb(212, 78, 78);
}

.player-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: auto; /* Ensure the player is interactive */
}

.fly-right {
    animation: fly-right 0.58s forwards;
}

.fly-left {
    animation: fly-left 0.5s forwards;
}

@keyframes fly-right {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(100vw, -50%);
    }
}

@keyframes fly-left {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-100vw, -50%);
    }
}

.like-button span, .dislike-button span {
    pointer-events: none; /* Prevent the text from interfering with button clicks */
}
