{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="choose-action">
    <h2>Choose an action:</h2>
    <ul>
        <li><a href="{{ url_for('getTracks') }}" class="spot-button">View Saved Tracks</a></li>
        <li><a href="{{ url_for('getTopTracks') }}" class="spot-button">View Top Tracks</a></li>
        <li><a href="{{ url_for('getRecommendations') }}" class="spot-button">Get Recommendations</a></li>
        <li><a href="{{ url_for('showCreatePlaylist') }}" class="spot-button">Start Swiping</a></li>
        </div>
    </ul>
</div>
{% endblock %}
