{% extends "base.html" %}

{% block content %}
<div class="create-playlist">
    <h2>Create a New Playlist</h2>
    <form method="POST" action="{{ url_for('createPlaylist') }}">
        <label for="name">Playlist Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        
        <div class="switch">
            <input type="checkbox" id="public" name="public">
            <label for="public" class="switch-label">Public</label>
        </div>
        
        <div class="switch">
            <input type="checkbox" id="collaborative" name="collaborative">
            <label for="collaborative" class="switch-label">Collaborative</label>
        </div>
        
        <button type="submit">Create Playlist</button>
    </form>
</div>
    <h2>Swipe Recommendations</h2>
    {% for track in recommendations %}
    <div class="song-container">
        <h2 id="song-title">{{ current_song['name'] }}</h2>
        <p id="song-artist">{{ current_song['artists'][0]['name'] }}</p>
        <audio controls id="song-preview">
            <source src="{{ current_song['preview_url'] }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="buttons">
            <button id="like-button">Like</button>
            <button id="dislike-button">Dislike</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endfor %}
</div>
{% endblock %}
