{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="song-container">
    <iframe id="spotify-player" src="https://open.spotify.com/embed/track/{{ current_song['id'] }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <div class="buttons">
        <button id="like-button">Like</button>
        <button id="dislike-button">Dislike</button>
    </div>
</div>
{% endblock %}