{% extends "base.html" %}

{% block content %}
<div class="create-playlist">
    <h2>Create a New Playlist</h2>
    <form method="POST" action="{{ url_for('createPlaylist') }}">
        <label for="name">Playlist Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        
        <div class="switch">
            <input type="checkbox" id="public" name="public">
            <label for="public" class="switch-label">Public</label>
        </div>
        
        <div class="switch">
            <input type="checkbox" id="collaborative" name="collaborative">
            <label for="collaborative" class="switch-label">Collaborative</label>
        </div>
        
        <button type="submit">Create Playlist</button>
    </form>
</div>
<div class="song-container">
    <iframe id="spotify-player" src="https://open.spotify.com/embed/track/{{ current_song['id'] }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <div class="buttons">
        <button id="like-button">Like</button>
        <button id="dislike-button">Dislike</button>
    </div>
</div>
{% endblock %}